/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.qr-generator {
  margin: 20px 0;
}

canvas {
  margin-top: 10px;
  border: 1px solid #ccc;
}
/* App.css */
@media (max-width: 768px) {
  #reader {
    width: 90%;
    height: auto;
  }
  .App {
    padding: 10px;
  }
}
